@import "~bootstrap/scss/bootstrap.scss";
body {
    background: rgb(253, 240, 240);
}
.heading {
    font-size: 120px;
    color: rgba(125, 228, 247, 0.664);
}
.listItems {
    list-style: none;
    margin: auto;
     width: 400px;
    padding: 10px;
    padding-left: 40px;  
}